#main-jumbotron {
	background-image: url("../img/runner.jpg");
	background-position: center;
	background-size: cover;
	font-family: 'Lato', sans-serif;
	color: white;
	text-shadow: 1px 1px 1px black;
}

body {
	font-family: 'Neuton', serif;
}

#main-nav {
	font-family: 'Lato', sans-serif;
}

#main-jumbotron hr {
	background-color: white;
}

.navbar-brand span {
	color: black;
    background: yellow;
    padding: 3px;
    border-radius: 15%;
}

.mission-and-work p,
.mission-and-work ul {
	font-size: 1.2rem;
}

.testimonies {
	font-size: 1.1rem;
}

blockquote {
	font-family: 'Lato', sans-serif;
}

#main-footer {
	background-color: black;
	color: lightgray;
	margin-top: 5rem;
	padding: 3rem 0;
	font-family: 'Lato', sans-serif;
}

#main-footer .list-group li {
	background-color: black;
	padding: 0 .5rem 0 0;
}

#main-footer hr {background-color: white;}