<!-- footer -->
<footer id="main-footer">
	<div class="container">
		<div class="row">
			<div class="col-md-4 mb-2">
				Phone: 888.888.8888<br>
				Email: email@email.com
			</div>
			<hr class="hidden-md-up my-3">
			<div class="col-md-4 mb-2">
				<ul class="list-group">
				  <li class="list-group-item"><a href="{{ site.baseurl }}/">Home</a></li>
				  <li class="list-group-item"><a href="{{ site.baseurl }}/about/">About</a></li>
				  <li class="list-group-item"><a href="{{ site.baseurl }}/ministries/">Ministries</a></li>
				  <li class="list-group-item"><a href="{{ site.baseurl }}/affiliates/">Affiliates</a></li>
				  <li class="list-group-item"><a href="{{ site.baseurl }}/contact/">Contact</a></li>
				  <li class="list-group-item"><a href="{{ site.baseurl }}/donate/">Donate</a></li>
				</ul>
			</div>
			<hr class="hidden-md-up my-3">
			<div class="col-md-4">
				"Let us throw off everything that hinders and the sin that so easily entangles. And let us run with perseverance the race marked out for us, fixing our eyes on Jesus, the pioneer and perfecter of faith."
				Hebrews 12:1-2
			</div>
		</div>
	</div>
</footer> <!-- /footer -->